.icon-img {
    height: 20px;
    width: auto;
    margin-right: 10px;
}

.color-pink {
    color: #C43471;
    ;
}

ion-content {
    --background: transparent !important;
}

button {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.app-update-cnt {
    width: 90%;
    margin: auto;
}

.app-update-cnt-wrpr {
    height: 200px;
    border-radius: 10px;
    width: 350px;
    max-width: 95%;
    background: #ececec;
    text-align: center;
    padding: 20px 10px;
}

.update-text {
    padding: 0 10px;
}