.icon-img {
    height: 20px;
    width: auto;
    margin-right: 10px;
}
.color-pink{
    color: #C43471;;
}
ion-content {
    --background: transparent;
}

.app-update-cnt {
    width: 90%;
    margin: auto;
}

.app-update-cnt-wrpr {
    border-radius: 10px;
    width: 100%;
    background: #ececec;
    text-align: center;
}

.update-text {
    padding: 0 10px;
}
