<ion-header>
    <ion-toolbar>
        <ion-title class="text-center custom-title"><img src="./assets/images/app_icon.png" alt="" style="width: 40px;vertical-align: bottom;"></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="top" class="ion-tab-bar">
            <ion-tab-button tab="main-page">
                <!-- <ion-icon name="home"></ion-icon> -->
                <ion-img class="icon" src="./assets/images/resort_villas.png"></ion-img>
                <ion-label>Resort and Villas</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="main-page" selected>
                <ion-img class="icon" src="./assets/images/wedding_hall.png"></ion-img>
                <ion-label>Wedding Hall</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="main-page">
                <ion-img class="icon" src="./assets/images/camp.png"></ion-img>
                <ion-label>Camp</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>