<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button style="color: black;">
                <ion-icon name="menu-outline"></ion-icon>
            </ion-menu-button>
        </ion-buttons>
        <ion-title>Edit Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main-wrapper p-2">
        <div class="scroll-content">
            <ion-item>
                <ion-label position="stacked">First Name</ion-label>
                <ion-input type="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Last Name</ion-label>
                <ion-input type="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Email Address</ion-label>
                <ion-input type="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Password</ion-label>
                <ion-input type="new-password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Phone Number</ion-label>
                <ion-input type="tel"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Nationality</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Gender</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Address</ion-label>
                <ion-input type="street-address"></ion-input>
            </ion-item>
            <ion-button class="custom-btn my-3" shape="round" expand="block">Update</ion-button>
        </div>
    </div>
</ion-content>