ion-item,
ion-list {
    --background: transparent !important;
    background: transparent !important;
    ion-label {
        // margin-top: 0;
        color: black;
        p {
            color: black !important;
        }
    }
}

ion-item {
    img {
        max-width: 140px;
        margin: auto;
    }
}

ion-icon {
    font-size: 15px;
    padding: 8px 2px;
    // background: #eaeaea;
    color: #c43471;
    border-radius: 10px;
}

.l-d-wrapper {
    p {
        font-size: 12px;
        margin: 10px 0;
    }
}