<ion-content>
    <ion-tabs>
        <!-- Tab bar -->
        <ion-tab-bar slot="bottom" class="ion-tab-bar">
            <ion-tab-button tab="schedule" selected class="ion-tab-button">
                <!-- <ion-icon name="home"></ion-icon> -->
                <img src="./assets/images/home.png" alt="">
                <ion-label>Home</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="speakers" class="ion-tab-button">
                <!-- <ion-icon name="person-circle"></ion-icon> -->
                <img src="./assets/images/mybooking.png" alt="">
                <ion-label>My Booking</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="map" class="ion-tab-button">
                <!-- <ion-icon name="map"></ion-icon> -->
                <img src="./assets/images/rewards.png" alt="">
                <ion-label>Rewards</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="about" class="ion-tab-button">
                <!-- <ion-icon name="information-circle"></ion-icon> -->
                <img src="./assets/images/bell2.png" alt="">
                <ion-label>Alerts</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="about" class="ion-tab-button">
                <!-- <ion-icon name="information-circle"></ion-icon> -->
                <img src="./assets/images/myaccount.png" alt="">
                <ion-label>My Account</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>