@import "../../assets/css/css-circular-prog-bar.css";
.progress-bar-wrapper {
    border-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 6px 0px;
    background-color: #ffffff;
    height: 228px;
    width: 228px;
    padding: 14px;
}
.percentage{
    font-weight: bold;
    font-size: 40px;
}
.modal-page-class{
    height: 200px;
    width: 90%;
    background-color: rgba(95, 158, 160, 0);

}