<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button style="color: black;">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>rewards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-wrapper">
    <div class="scroll-content">
      <div class="row">
        <div class="col-12 py-4 ion-text-center">
          <div class="mx-auto progress-bar-wrapper">
            <div class="progress-circle p10 ">
              <span class="pt-4">
                <ion-note>Earned</ion-note> <br> <ion-label class="percentage">180</ion-label><br>
                <ion-note>points</ion-note> <br>
                <ion-label>SAR 200</ion-label>
              </span>
              <div class="left-half-clipper ">
                <div class="first50-bar "></div>
                <div class="value-bar "></div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row px-2">
        <div class="col-7 ion-text-left">
          <ion-label class="">Total Amount</ion-label>
        </div>
        <div class="col-5 ion-text-right pl-0">
          <ion-note>SAR 200</ion-note>
        </div>
      </div>
      <div class="row px-2">
        <div class="col-7 ion-text-left">
          <ion-label class="">Amount redeemed</ion-label>
        </div>
        <div class="col-5 ion-text-right pl-0">
          <ion-note>SAR 200</ion-note>
        </div>
      </div>
      <div class="row px-2">
        <div class="col-7 ion-text-left">
          <ion-label class="">Amount Left</ion-label>
        </div>
        <div class="col-5 ion-text-right pl-0">
          <ion-note>SAR 200</ion-note>
        </div>
      </div>
      <ion-button class="custom-btn my-3" (click)="OpenDialog()" shape="round" expand="block">Explore Here</ion-button>
    </div>
  </div>
</ion-content>