<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-list id="inbox-list">
                    <ion-list-header>Inbox</ion-list-header>
                    <ion-note>hi@ionicframework.com</ion-note>

                    <ion-menu-toggle auto-hide="false">
                        <ion-item lines="none" (click)="goToPage('home')">
                            <ion-icon slot="start" name="keypad-outline"></ion-icon>
                            <ion-label>Main Page</ion-label>
                        </ion-item>
                        <ion-item lines="none" (click)="goToPage('room-details')">
                            <ion-icon slot="start" name="keypad-outline"></ion-icon>
                            <ion-label>Room Details</ion-label>
                        </ion-item>
                        <ion-item lines="none" (click)="goToPage('booking-history')">
                            <ion-icon slot="start" name="keypad-outline"></ion-icon>
                            <ion-label>Booking History</ion-label>
                        </ion-item>
                        <ion-item lines="none" (click)="goToPage('change-pwd')">
                            <ion-icon slot="start" name="keypad-outline"></ion-icon>
                            <ion-label>Change Password</ion-label>
                        </ion-item>
                        <ion-item lines="none" (click)="goToPage('profile')">
                            <ion-icon slot="start" name="id-card-outline"></ion-icon>
                            <ion-label>Profile</ion-label>
                        </ion-item>
                        <ion-item lines="none" (click)="goToPage('edit-profile')">
                            <ion-icon slot="start" name="create-outline"></ion-icon>
                            <ion-label>Edit Profile</ion-label>
                        </ion-item>
                        <ion-item lines="none" (click)="goToPage('forgot-pwd')">
                            <ion-icon slot="start" name="build-outline"></ion-icon>
                            <ion-label>Forgot Password</ion-label>
                        </ion-item>
                        <ion-item lines="none" (click)="goToPage('sort-by')">
                            <ion-icon slot="start" name="options-outline"></ion-icon>
                            <ion-label>Sort By</ion-label>
                        </ion-item>
                        <ion-item lines="none" (click)="goToPage('filter')">
                            <ion-icon slot="start" name="filter-outline"></ion-icon>
                            <ion-label>Filter</ion-label>
                        </ion-item>
                        <ion-item lines="none" (click)="goToPage('my-acnt')">
                            <ion-icon slot="start" name="person-circle-outline"></ion-icon>
                            <ion-label>My Account</ion-label>
                        </ion-item>
                        <ion-item lines="none" (click)="goToPage('notification')">
                            <ion-icon slot="start" name="receipt-outline"></ion-icon>
                            <ion-label>Notification</ion-label>
                        </ion-item>
                        <ion-item lines="none" (click)="goToPage('setting')">
                            <ion-icon slot="start" name="cog-outline"></ion-icon>
                            <ion-label>Settings</ion-label>
                        </ion-item>
                        <ion-item lines="none" (click)="goToPage('checkout')">
                            <ion-icon slot="start" name="cog-outline"></ion-icon>
                            <ion-label>Checkout</ion-label>
                        </ion-item>
                        <ion-item lines="none" (click)="goToPage('order-summary')">
                            <ion-icon slot="start" name="cog-outline"></ion-icon>
                            <ion-label>Order-Summary</ion-label>
                        </ion-item>
                        <ion-item lines="none" (click)="goToPage('item-details')">
                            <ion-icon slot="start" name="cog-outline"></ion-icon>
                            <ion-label>Item-Details</ion-label>
                        </ion-item>
                        <ion-item lines="none" (click)="goToPage('list-items')">
                            <ion-icon slot="start" name="cog-outline"></ion-icon>
                            <ion-label>List Items</ion-label>
                        </ion-item>
                        <ion-item lines="none" (click)="goToPage('rating')">
                            <ion-icon slot="start" name="star-half-outline"></ion-icon>
                            <ion-label>Rate & Review</ion-label>
                        </ion-item>
                        <ion-item lines="none" (click)="goToPage('splash-screen')">
                            <ion-icon slot="start" name="star-half-outline"></ion-icon>
                            <ion-label>Splash Screen</ion-label>
                        </ion-item>
                        <ion-item lines="none" (click)="goToPage('login')">
                            <ion-icon slot="start" name="paper-plane-outline"></ion-icon>
                            <ion-label>Login</ion-label>
                        </ion-item>
                        <ion-item lines="none" (click)="goToPage('sign-up')">
                            <ion-icon slot="start" name="document-lock-outline"></ion-icon>
                            <ion-label>Sign Up</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>

                <!-- <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>