<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button style="color: black;">
                <ion-icon name="menu-outline"></ion-icon>
            </ion-menu-button>
        </ion-buttons>
        <ion-title>Rate & Review</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main-wrapper p-2">
        <div class="scroll-content">
            <div class="top-div">
                <p>Tap a Start to Rate</p>
                <ion-rating rate="5" (rateChange)="onRateChange($event)">
                </ion-rating><br>
                <ion-note>Month Visited</ion-note><br>
                <ion-label>29 April 2021</ion-label>
            </div>
            <ion-item>
                <ion-label position="stacked">Title</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item lines="none" class="mt-2">
                <ion-textarea inputmode="text" rows="6" placeholder="Write Review"></ion-textarea>
            </ion-item>
            <ion-button class="custom-btn my-3" shape="round" expand="block">Submit</ion-button>
        </div>
    </div>
</ion-content>