/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
:root {
    --theam-color: #c43471;
    --hover-theam-color: #9e1951;
}

* {
    font-family: 'Josefin Sans', sans-serif !important;
}

@mixin button-text-style {
    font-size: 12px;
    font-weight: 100;
    height: 40px;
    letter-spacing: 1px;
}

ion-item {
    --background: transparent !important;
}

ion-menu-button {
    color: black;
}

ion-back-button {
    display: block;
}

ion-radio {
    --color-checked: #c43471;
    --color: #c43471;
}

ion-toggle {
    height: 18px;
    width: 38px;
    --background: #d8d8d8;
    --background-checked: #c43471;
    --handle-background: #c43471;
    --handle-background-checked: #d8d8d8;
    --handle-width: 13px;
    --handle-height: 13px;
}

ion-img.icon {
    width: 22px;
}

ion-checkbox {
    margin-right: 8px;
    .checkbox-icon {
        border-color: var(--theam-color) !important;
        background: var(--theam-color) !important;
    }
    --background-checked:var(--theam-color) !important;
    --border-color-checked:var(--theam-color) !important;
}

ion-range {
    --bar-background-active: var(--theam-color);
    --knob-background: var(--theam-color);
    --knob-size: 12px;
    --bar-height: 3px;
    height: 10px;
}

ion-rating {
    ion-button {
        ion-icon {
            height: 20px !important;
        }
    }
}

ion-rating.small-rate {
    ion-button {
        --padding-top: 0;
        --padding-bottom: 0;
        --box-shadow: none;
        height: 20px;
        font-size: 10px;
    }
}

.t-c {
    color: var(--theam-color) !important;
}

.slides-md,
.swiper-pagination-bullet-active {
    --bullet-background-active: var(--theam-color);
}

.main-wrapper {
    text-align: center;
    height: 100%;
    position: relative;
    z-index: 5;
    // opacity: 0.1;
    background-size: cover;
    overflow: hidden;
    background-image: url(./assets/images/bg1.png);
}

.main-wrapper2 {
    text-align: center;
    height: 100%;
    position: relative;
}

.main-wrapper3 {
    text-align: center;
    height: 100%;
    overflow-y: auto;
    background: #cccccc2b;
    padding: 10px;
}

.scroll-content {
    height: 100%;
    overflow-y: auto;
}

.search-wrapper {
    padding: 15px;
    ion-searchbar {
        padding: 0;
        --cancel-button-color: var(--theam-color);
        --clear-button-color: var(--theam-color);
        input {
            border-radius: 5px !important;
            // text-align: left !important;
            padding: 0 !important;
            background: white !important;
        }
    }
}

.tb-2 {
    ion-avatar {
        width: 20px;
        height: 20px;
        margin-right: 6px;
        img {
            width: 20px;
            height: 20px;
        }
    }
    ion-label {
        margin-right: 0;
        padding-right: 0;
    }
    .item-native {
        padding-left: 2px !important;
    }
}


/* .main-wrapper .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background-position: center;
  background-size: cover;
  overflow: hidden;
  background-image: url(./assets/images/bg1.png);
  // opacity: .2;
  width: 100%;
  height: 100%;
} */

.main-wrapper .bg-login {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // background-position: center;
    background-size: cover;
    overflow: hidden;
    background-image: url(./assets/images/bg.png);
    // opacity: .2;
    width: 100%;
    height: 100%;
}

.custom-btn {
    --background: #c43471 !important;
    --background-hover: #9e1951 !important;
    --background-activated: #9e1951 !important;
    --background-focused: #9e1951 !important;
    @include button-text-style();
}

.custom-btn-fb {
    --background: #3f5793 !important;
    --background-hover: #334b88 !important;
    --background-activated: #334b88 !important;
    --background-focused: #334b88 !important;
    @include button-text-style();
}

.custom-btn-gm {
    --background: #e75a4d !important;
    --background-hover: #da4032 !important;
    --background-activated: #da4032 !important;
    --background-focused: #da4032 !important;
    @include button-text-style();
}

.custom-btn-insta {
    --background: #d5699e !important;
    --background-hover: #d15792 !important;
    --background-activated: #d15792 !important;
    --background-focused: #d15792 !important;
    @include button-text-style();
}

.l-d-wrapper {
    padding: 15px;
    background: #ffffffc7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 8px;
    max-height: calc(100% - 200px);
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.ion-tab-bar {
    ion-img {
        height: 24px;
    }
    ion-label {
        font-size: 10px;
    }
}