<ion-header [translucent]="true">
    <ion-toolbar style="--background: transparent;position: absolute;">
        <ion-buttons slot="start">
            <ion-menu-button style="color: white;">
                <ion-icon name="menu-outline"></ion-icon>
            </ion-menu-button>
        </ion-buttons>
        <!-- <ion-title class="text-center custom-title">
    <img src="./assets/images/Icon-196.png" alt="" style="width: 140px;vertical-align: bottom;">
  </ion-title> -->
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="main-wrapper p-2">
        <div class="bg-login"></div>
    </div>
</ion-content>