ion-item,
ion-list {
    --background: transparent !important;
    background: transparent !important;
    ion-label {
        // margin-top: 0;
        color: black;
        p {
            color: black !important;
        }
    }
}

ion-icon {
    font-size: 15px;
    padding: 8px 2px;
    // background: #eaeaea;
    color: #c43471;
    border-radius: 10px;
}